In [1]:
import pandas as pd

In [3]:
ZHVI = pd.read_csv("E:/graduate/musa550/assignment/ass1/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

In [4]:
want_state = ["PA"]
selection_state =  ZHVI['State'].isin(want_state)
ZHVI_trimmed_state = ZHVI.loc[selection_state]

In [5]:
want_city = ["Philadelphia"]
selection_city =  ZHVI_trimmed_state['City'].isin(want_city)
ZHVI_trimmed = ZHVI_trimmed_state.loc[selection_city]

In [6]:
columns = ['RegionID', 'SizeRank', "RegionType", "StateName", "State", "Metro", "CountyName", "City"]
ZHVI = ZHVI_trimmed.drop(columns, axis=1)

In [7]:
ZHVI_final = pd.melt(
    ZHVI, 
    id_vars=["RegionName"], 
    var_name="Date",
    value_name="ZHVI"
)

In [8]:
ZHVI_final["Date"] = pd.to_datetime(ZHVI_final["Date"])
date_strings = ZHVI_final["Date"].dt.strftime("%Y")
ZHVI_final["Date"] = date_strings

In [9]:
ZHVI_final.head()

   RegionName  Date     ZHVI
0       19143  1996  53524.0
1       19111  1996  84371.0
2       19124  1996  44683.0
3       19120  1996  56842.0
4       19104  1996  83638.0

In [10]:
ZHVI_final.groupby(["RegionName", "Date"]).mean()

                          ZHVI
RegionName Date
19102      1996  102083.666667
           1997  105159.583333
           1998  109694.166667
           1999  130578.083333
           2000  155851.916667
...                        ...
19154      2017  203991.000000
           2018  216463.583333
           2019  232374.583333
           2020  246218.833333
           2021  267346.428571

[1196 rows x 1 columns]

In [11]:
ZHVI_final.groupby("Date").max("ZHVI")

      RegionName      ZHVI
Date
1996       19154  210937.0
1997       19154  218939.0
1998       19154  217241.0
1999       19154  235936.0
2000       19154  268318.0
2001       19154  295124.0
2002       19154  335659.0
2003       19154  381616.0
2004       19154  437575.0
2005       19154  504289.0
2006       19154  520422.0
2007       19154  535794.0
2008       19154  529237.0
2009       19154  503786.0
2010       19154  504975.0
2011       19154  467294.0
2012       19154  459250.0
2013       19154  473497.0
2014       19154  480528.0
2015       19154  509715.0
2016       19154  526050.0
2017       19154  539293.0
2018       19154  580350.0
2019       19154  593398.0
2020       19154  637923.0
2021       19154  685303.0